.info {
    padding: 100px 0;
    background: var(--off-white);
    overflow: hidden;
}

.info__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.info__image {
    opacity: 0;
    transform: translateX(40px);
    transition: all 0.8s ease;
    background-size: inherit;
}

.info__image img {
    width: 100%;
    box-shadow: var(--shadow-sm);
    display: block;
}

.info__content {
    opacity: 0;
    width: 100%;
    height: 100%;
    transform: translateX(40px);
    transition: all 0.8s ease;
    background: var(--primary);
    backdrop-filter: blur(10px);
    padding: 60px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.info__content h2 {
    font-family: var(--font-display);
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 18px;
    color: #fff;
    text-align: center;
}

.info__content p {
    text-align: center;
    font-size: 17px;
    line-height: 1.7;
    color: #fff;
    max-width: 520px;
}

.info.show .info__image,
.info.show .info__content {
    opacity: 1;
    transform: translateX(0);
}

.info.reverse .info__image {
    order: 2;
    transform: translateX(-40px);
}

.info.reverse .info__content {
    order: 1;
    transform: translateX(-40px);
}

.info.reverse.show .info__image,
.info.reverse.show .info__content {
    transform: translateX(0);
}

@media (max-width: 992px) {

    .info {
        padding: 40px 0;
    }

    .info__grid {
        grid-template-columns: 1fr;
        gap: 0px;
    }

    .info__image,
    .info__content {
        transform: translateY(40px);
    }

    .info.show .info__image,
    .info.show .info__content {
        transform: translateY(0);
    }

    .info.reverse .info__image,
    .info.reverse .info__content {
        order: unset;
    }

    .info__content {
        padding: 30px;
    }
}